[Unit]
Description=check socket of service

[Service]
ExecStart=/opt/socket-health.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

